<%- include("../partials/header") -%>

    <% msgA.forEach(function(msg){ %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% }); %> 

    <% msgB.forEach(function(msg){ %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% }); %> 

    <div class="register"><form action="" style="border:1px solid #ccc" method="POST">
        <div class="container">
          <h1>Sign Up to enter into Cp Judge</h1>
          <!-- <p>Please fill in this form to create an account.</p> -->
          <hr>
      
          <label for="email"><b>Email</b></label>
          <input type="email" placeholder="Required" name="email" required><br>

          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Required" name="username" required><br>
      
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Required" name="password" required>
<!--       
          <label for="repeatpassword"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="repeatpassword" required> -->
      
          <div class="clearfix">
            <button type="submit" class="signupbtn">Sign Up</button>
          </div>
          <p>Already have an account? <a href="/login">Login </a></p>
        </div>
      </form></div>

    <!-- <script src="" async defer></script> -->

<%- include("../partials/footer") -%>