<!DOCTYPE html>
  <html lang="en" dir="ltr">
  
  <head>
    <meta charset="utf-8">
    <title>todolist</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    <nav class="navbar navbar-default nav">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">To-Do-List</p>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <li id="home"><a href="/">HOME</a></li>
            <% if(isAuthenticated){ %>
              <li id="logout"><a href="/logout">Logout</a></li>
            <% } else { %>
              <li class="nav-item login" id="login"><a href="/login">Login</a></li>
              <li class="nav-item register" id="register"><a href="/register">Register</a></li>
            <% } %>
          </ul>
      </div>
    </nav>
