<%- include("partials/header") -%>

    <h1 class="homepage">Organize you daily work with To-Do-List</h1>
    <a class="login-link-home" href="/login">Login</a>
    <a class="register-link-home" href="/register">Register</a>
